<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= DayOfWeek %></h1>
    <ul>
        <% for(var i=0; i<newItem.length;i++){ %>
            <li><%= newItem[i] %></li>
        <% } %>

    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="Add To Do">
        <button type="submit" id="btn" name="btn">Add</button>
    </form>

  </body>
</html>
